[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group nfv-qe-core
	owner = group user/Maxim Babushkin (MaxBab)
	owner = group user/Yarboa
	owner = group user/edannon (edannon)
	owner = group user/rhosqeauto (rhosqeauto)
[access "refs/for/refs/*"]
	read = group nfv-qe-core
	read = group user/Yarboa
	read = group user/zenghui (zshi-redhat)
	push = group nfv-qe-core
	push = group user/Yarboa
	label-Code-Review = -2..+2 group nfv-qe-core
	label-Code-Review = -2..+2 group user/Yarboa
	label-Code-Review = -2..+2 group user/zenghui (zshi-redhat)
	label-Verified = -1..+1 group nfv-qe-core
	label-Verified = -1..+1 group user/Yarboa
	label-Verified = -1..+1 group user/rhosqeauto (rhosqeauto)
	label-Verified = -1..+1 group user/zenghui (zshi-redhat)
	rebase = group nfv-qe-core
	rebase = group user/Yarboa
	removeReviewer = group nfv-qe-core
	removeReviewer = group user/Yarboa
	submit = group nfv-qe-core
	submit = group user/Yarboa
[access "refs/heads/*"]
	read = group nfv-qe-core
	read = group user/Yarboa
	create = group nfv-qe-core
	create = group user/Yarboa
	push = group nfv-qe-core
	push = +force group user/Yarboa
	pushMerge = group nfv-qe-core
	pushMerge = group user/Yarboa
[access "refs/tags/*"]
	push = group nfv-qe-core
	push = +force group user/Yarboa
	createTag = group nfv-qe-core
	createTag = group user/Yarboa
	createSignedTag = group nfv-qe-core
	createSignedTag = group user/Yarboa
[project]
	state = read only
