#More detailed documentation of network creation could be found within the ansible-nfv
#git - https://github.com/redhat-openstack/ansible-nfv
#Test networks configuration already created, to be used by tempest tests.
networks:
  - name: public
    physical_network: datacentre
    segmentation_id:
    external: true
    allocation_pool_start: 10.0.0.210
    allocation_pool_end: 10.0.0.250
    cidr: 10.0.0.0/24
    enable_dhcp: false
    gateway_ip: 10.0.0.1
    router_name: router1
    network_type: vlan
    ip_version: 4
    port_type: normal

#Test networks configuration to be created by tempest tests.
test-networks:
  - name: vlan1600
    physical_network: tenant
    mgmt: true
    segmentation_id: 1600
    allocation_pool_start: 10.100.10.2
    allocation_pool_end: 10.100.10.14
    cidr: 10.100.10.0/28
    enable_dhcp: true
    gateway_ip: 10.100.10.1
    router_name: router1
    network_type: vlan
    ip_version: 4
    sec_groups: true
    port_type: normal

  - name: vlan1500
    physical_network: tenant
    segmentation_id: 1500
    allocation_pool_start: 10.100.20.2
    allocation_pool_end: 10.100.20.14
    cidr: 10.100.20.0/28
    enable_dhcp: true
    gateway_ip: 10.100.20.1
    network_type: vlan
    ip_version: 4
    port_type: normal

flavors:
  - name: nfv-test-flavor
    ram: 512
    disk: 20
    vcpus: 2
    property:
     - "hw:mem_page_size=1GB"
     - "hw:numa_mem.0=4096"
     - "hw:numa_nodes=1"
     - "hw:numa_cpus.0=0,1"
     - "hw:cpu_policy=dedicated"

tests-setup:
  - name: numa0
    flavor: nfv-test-flavor
    availability-zone: normal
    router: true

dns_nameservers:
  - 8.8.4.4
  - 8.8.8.8

tempest_tests:
  - tempest_plugin.tests.scenario.test_nfv_prep_net_plugin.TestNfvPrepNetPlugin.test_tenant_network_cloud_init