---

# Enable or Disable floating IP creation of guest VMs
# Default is true (floating ip is enabled if not provided)
floating_ip: true

# Networks used by the test.
# Will be created by the tests during the execution.
# Note! - In case the resources created externally, the following section is not needed.
test-networks:
  - name: 'vlan1600'
    physical_network: 'tenant'
    # Segmentation ID is not mandatory in case
    # private networks are used for the tests.
    # Skip this value in case HA based deployment.
    # https://wiki.openstack.org/wiki/Neutron/L3_High_Availability_VRRP
    segmentation_id: '1600'
    allocation_pool_start: '10.100.10.2'
    allocation_pool_end: '10.100.10.14'
    cidr: '10.100.10.0/28'
    enable_dhcp: true
    gateway_ip: '10.100.10.1'
    router_name: router1
    network_type: vlan
    ip_version: 4
    # Security group definition.
    # In case of no security, set the flag to 'false'.
    sec_groups: true
    port_type: normal
    # At least one network from the provided networks
    # should be set to 'mgmt: true'.
    # Port created on this network will be configured
    # as default router for booted vms.
    # As well, it will be used as an access network to the instance.
    # If router exists, floating ip will be attached to port from this network.
    mgmt: true
    # DNS nameservers should be provided only on the
    # instance mgmt network, and will be used as exit
    # point for various tasks like downloads, repo config, etc...
    dns_nameservers:
      - 8.8.8.8
      - 8.8.4.4

  - name: 'vlan1500'
    physical_network: 'tenant'
    segmentation_id: '1500'
    allocation_pool_start: '10.100.20.2'
    allocation_pool_end: '10.100.20.14'
    cidr: '10.100.20.0/28'
    enable_dhcp: true
    gateway_ip: '10.100.20.1'
    network_type: vlan
    ip_version: 4
    port_type: normal
    # Utiltizes Nova's device role tagging in order to add a metadata tag for
    # ports created on this network
    tag: external

  - name: 'vlan1600'
    physical_network: 'tenant'
    segmentation_id: '1600'
    allocation_pool_start: '10.200.20.2'
    allocation_pool_end: '10.200.20.14'
    cidr: '10.200.20.0/28'
    enable_dhcp: true
    gateway_ip: '10.200.20.1'
    network_type: vlan
    ip_version: 4
    port_type: direct
    # Nova will set the binding profile of this port to trusted=true and will
    # set it as Trusted VF
    trusted_vf: true
    # set if using HW-Offload port when OVS in is in switchdev mode
    switchdev: true
    # set on SRIOV nics support.
    min_qos: true
    # (Optional) - Do not attach the network to the instance by default
    skip_srv_attach: true

# Flavors used by the test.
# Will be created by the tests during the execution
# if no flavor with such name exists.
# Note! - In case the resources created externally, the following section is not needed.
test-flavors:
  - name: nfv_qe_base_flavor
    ram: 8192
    disk: 20
    vcpus: 6
    extra_specs:
     - "hw:mem_page_size": "large"
       "hw:cpu_policy": "dedicated"
       "hw:emulator_threads_policy": "share"   # Note! - This extra spec should be applied only starting from RHOSP 14

  - name: m1.medium.huge_pages_cpu_pinning_numa_node-0
    ram: 8192
    disk: 20
    vcpus: 6
    extra_specs:
     - "hw:mem_page_size": "1GB"
       "hw:numa_mem.0": "2048"
       "hw:numa_mempolicy": "strict"
       "hw:numa_cpus.0": "0,1"
       "hw:cpu_policy": "dedicated"
       "hw:emulator_threads_policy": "share"   # Note! - This extra spec should be applied only starting from RHOSP 14

  - name: m1.medium.huge_pages_cpu_pinning_numa_node-1
    ram: 8192
    disk: 20
    vcpus: 6
    extra_specs:
     - "hw:mem_page_size": "1GB"
       "hw:numa_mem.1": "2048"
       "hw:numa_mempolicy": "strict"
       "hw:numa_cpus.1": "0,1"
       "hw:cpu_policy": "dedicated"
       "hw:emulator_threads_policy": "share"   # Note! - This extra spec should be applied only starting from RHOSP 14

  - name: m1.medium.huge_pages_cpu_pinning_numa_node-mix
    ram: 8192
    disk: 20
    vcpus: 6
    extra_specs:
     - "hw:numa_nodes": "2"
       "hw:mem_page_size": "1GB"
       "hw:numa_mem.0": "1024"
       "hw:numa_mem.1": "1024"
       "hw:numa_mempolicy": "strict"
       "hw:numa_cpus.0": "0"
       "hw:numa_cpus.1": "1"
       "hw:cpu_policy": "dedicated"
       "hw:emulator_threads_policy": "share"   # Note! - This extra spec should be applied only starting from RHOSP 14

  - name: numa_aware_vswitch
    ram: 8192
    disk: 20
    vcpus: 6
    extra_specs:
      - "hw:mem_page_size": "1GB"
        "hw:cpu_policy": "dedicated"
        "aggregate_instance_extra_specs:test": "numa_aware_vswitch"
        "hw:emulator_threads_policy": "share"   # Note! - This extra spec should be applied only starting from RHOSP 14

# Test repo to be used by the instance during the test (optional variable).
# Note! - In case the resources created externally, the following section is not needed.
test_instance_repo:
  name: epel
  url: http://download.fedoraproject.org/pub/epel/7/x86_64/

tests-setup:
  - name: numa0
    flavor: m1.medium.huge_pages_cpu_pinning_numa_node-0
    router: true

  - name: numa1
    flavor: m1.medium.huge_pages_cpu_pinning_numa_node-1
    router: true

  - name: numamix
    flavor: m1.medium.huge_pages_cpu_pinning_numa_node-mix
    router: true

  - name: check-multiqueue-func
    flavor: m1.medium.huge_pages_cpu_pinning_numa_node-0
    router: true

  - name: check-compute-packages
    package-names:
      - tuned-2.8.0-5.el7.noarch
      - openvswitch-2.6.1-16.git20161206.el7ost.x86_64
    service-names:
      - tuned
      - openvswitch
    tuned-profile: cpu-partitioning

  - name: test-ping-mtu
    flavor: m1.medium.huge_pages_cpu_pinning_numa_node-0
    router: true
    mtu: 8972

  - name: test_live_migration_basic
    flavor: m1.medium.huge_pages_cpu_pinning_numa_node-0
    router: true

  - name: multicast
    flavor: m1.medium.huge_pages_cpu_pinning_numa_node-0
    router: true

  - name: cold-migration
    flavor: m1.medium.huge_pages_cpu_pinning_numa_node-0
    router: true

  - name: emulatorpin
    flavor: m1.medium.huge_pages_cpu_pinning_numa_node-0
    router: true
    emulatorpin_config:
      - config_path: '/var/lib/config-data/puppet-generated/nova_libvirt/etc/nova/nova.conf'
        check_section: 'compute'
        check_value: 'cpu_shared_set'

  - name: rx_tx
    flavor: m1.medium.huge_pages_cpu_pinning_numa_node-0
    router: true
    rx_tx_config:
      - config_path: '/var/lib/config-data/puppet-generated/nova_libvirt/etc/nova/nova.conf'
        check_section: 'libvirt'
        check_value: 'rx_queue_size,tx_queue_size'

  - name: trustedvfs
    flavor: m1.medium.huge_pages_cpu_pinning_numa_node-0
    router: true

  - name: sriov_min_bw_qos
    flavor: m1.medium.huge_pages_cpu_pinning_numa_node-0
    router: true
    qos_rules: [{'min_kbps': '4000'}]

  - name: numa_aware_vswitch
    flavor: m1.medium.huge_pages_cpu_pinning_numa_node-0
    router: true

 - name: offload
   offload_nics:
     - p4p1
     - p4p2

 - name: offload_flows
   flavor: m1.medium.huge_pages_cpu_pinning_numa_node-0
   router: true

  - name: double_tagging
    vlan_config:
      iface_vlan: 10
      test_vlan: 12

  - name: pinned_srv_live_migration
    flavor: m1.medium.huge_pages_cpu_pinning_numa_node-0
    router: true
